.title {
  font-family: "Bungee Inline", cursive;
  font-size: 3em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #d5d5d5;
  text-shadow: 0 2px 4px rgba(226, 0, 0, 0.5);
  margin-bottom: 40px;
}
.quote{
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.5);
  margin-top: 50px;
}