<app-navbar></app-navbar>
<div class="main" *ngIf="sessionService.user">
  <div class="image-profile">
    <img [src]="image">
  </div>
  <div class="header">
    <h3>{{sessionService.user.username}}</h3>
    <h5>Reputation: {{sessionService.user.reputation}}</h5>
  </div>
  <div class="wrapper">
    <p>Balance:
      <span class="info">{{sessionService.user.balance}} 🧠</span>
    </p>
    <p>Age:
      <span class="info">{{sessionService.user.birthdate|age}}</span>
    </p>
    <a class="btn btn-outline-warning" [routerLink]="['/chats']"> Chats </a>
    <a class="btn btn-outline-warning" [routerLink]="['/guide']"> Survival Guide </a>
  </div>
</div>