.survival-list {
  width: 80%;
  font-size: 1em;
  margin: 0 auto;
  padding-left: 20px;
}

.survival-item {
  font-size: 1em;
  list-style-type: decimal;
  h4 {
    font-size: 1em;
    color: orangered;
  }
}
